# Interface file for BL702-based Sipeed RV Debugger.

adapter driver ftdi
adapter speed 500

ftdi vid_pid 0x0403 0x6010

transport select jtag

ftdi layout_init 0x0008 0x001b
ftdi layout_signal nSRST -oe 0x0020 -data 0x0020